target/
.metals/
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/project/
project/tarjet/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ
#*.iml
*.ipr
*.iws
.idea/
out

# Vim
tags
.*.swp
.*.swo

# ENSIME specific
.ensime_cache/
.ensime

